


@model HettisentialMvc.LoginRequestModel


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sign In</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="~/img/svg/logo.svg" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="~/css/style.min.css">
</head>

<body>
  <div class="layer"></div>
<main class="page-center">

<div class="Container" >
@if (TempData["Success"]!= null )
{
      <div class="alert alert-info alert-dismissible fade show">
                        <strong>@TempData["Success"]</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
}


@if(ViewBag.error != null)
{
      <div style="color: red; font-weight: bolder; background-color: white; padding: 5px">
                <label style="text-align: center">@ViewBag.Error</label>
            </div>


}


							 

</div>







  <article class="sign-up">
    <h1 class="sign-up__title">Welcome back!</h1>
    <p class="sign-up__subtitle">Sign in to your account to continue</p>
    <form class="sign-up-form form" asp-controller="User" asp-action="Login" method="post">
      <label class="form-label-wrapper">
        <p class="form-label">Email</p>
        <input class="form-input" asp-for="Email"  type="email" placeholder="Enter your email" required>
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Password</p>
        <input class="form-input" asp-for="PassWord"  type="password" placeholder="Enter your password" required>
      </label>
      <a class="link-info forget-link" href="##">Forgot your password?</a>
      <label class="form-checkbox-wrapper">
        <input class="form-checkbox" type="checkbox"  >
        <span class="form-checkbox-label">Remember me next time</span>
      </label>
      <button class="form-btn primary-default-btn transparent-btn">Sign in</button>







    @* <p class="w-100 text-center" style="color: green">&mdash;Sign Up Here &mdash;</p>
		          <div class="text-center">

                <div style="margin-top: 10px;" >
                  <strong>Create user account</strong>
                  <div>
                     <a  asp-controller= "Patient"  asp-action="Create">Create user Account</a>
                  </div>
                 
         

                </div>

	          	  <div style="margin-top: 10px;">
                    <strong>Create Hospital account</strong>
                    <div>
                        <a  asp-controller= "Hospital"  asp-action="Create">Create Hospital Account </a>
                    </div>
                  
                     
                </div>

	          		@* <div  style="margin-top: 10px;" >
                    <strong>Create Admin account</strong>
                    <div>
                       <a  asp-controller= "Admin"  asp-action="Create">Create New Admin</a>
                    </div>
                  
                     <div style="margin-top: 10px;">
                      
                         <strong>Create Pharmarcy Account</strong>
                    <div>
                      <div>
                            <a asp-controller="Pharmarcy" asp-action="Create" >Create Pharmarcy Account</a></li>
                      </div>
                       </div>

                          
                    <div style="margin-top: 10px;">
                       <strong>Create Medical Lab Account</strong>
                      <div>
                            <a asp-controller="MedicalLab" asp-action="Create" >Create MedicalLab Account</a></li>
                      </div>
                       </div>



                         
                    <div  style="margin-top: 10px;" >
                        <strong>Create Healthcenter Account</strong>
                      <div>
                            <a asp-controller="Healthcenter" asp-action="Create" >Create Healthcenter Account</a></li>
                      </div>
                       </div>
		          </div>

 *@







    </form>
  </article>
</main>
<!-- Chart library -->
<script src="~/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="~/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="~/js/script.js"></script>
</body>

</html>


@* div>
    <dl>
         <a  asp-controller= "Admin"  asp-action="Create">Create New Admin</a>
           <a  asp-controller= "Admin"  asp-action="Delete">Delete  Admin</a>
             <a  asp-controller= "Admin"  asp-action="Details">Admin Details </a>
               <a  asp-controller= "Admin"  asp-action="Update">Update   Admin</a>
                <a  asp-controller= "Admin"  asp-action="Profile">    Admin Profile</a>
                  <a  asp-controller= "Admin"  asp-action="GeAll">  All  Admin  </a>
    </dl> *@
   