



  @{
        ViewData["Title"] = "Search HealthCenter";
    }










<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="~/css/Search.css">
</head>
<body>
       
  <form asp-action="SearchHealthCentres" method="post" asp-controller="Healthcenter" >

     <div  id="box"  >

    
    <input id="input" type="search" autocomplete="off" spellcheck="false" role="combobox" placeholder="Search for HealthCenter" aria-live="polite">
   </div>


  </form>


</body>
</html>


























