


#box
{
    background-color: var(--search-box-bg, white);
    border: none;
    border-radius: var(--ntp-realbox-border-radius);
    color: var(--search-box-text);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
    justify-content: center;
}
   